.container {
    display: flex;
    width: 85%;
    margin: 0 auto 0;
}

.table {
    border-top: #00000048 solid 20px;
    border-bottom: #00000048 solid 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-spacing: 0;
}

td {
    padding: 0px;
    border-left: #00000048 solid 5px;
}

.thead__tr td {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.thead tr td:first-child {
    border-left: none;
}

.tbody tr td{
    height: 150px;
    width: 150px;
    padding: 5px;
}

#thead__td-input {
    width: 95%;
}

#thead__td {
    border-bottom: #00000048 solid 5px;
}

.tbody tr td:first-child {
    border-left: none;
}


.append {
    margin-top: 20px;
    margin-bottom: 20px;
    border-spacing: 0;
}

.append-column {
    border: black solid 5px;
}

.plus {
    width: 50px;
    border-left: #00000048 solid 5px;
    padding: 10px;
    text-align: center;
    border-top: #00000048 solid 20px;
    
}

.append__tbody tr td{
    border-left: #00000048 solid 5px;
    border-bottom: #00000048 solid 20px;
}

.blackout {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    display: none;
}

.form {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 20;
    border: black solid 2px;
    border-radius: 5px;
    padding: 5px;
    background: white ;

}

.form > label {
    font-weight: bold;
}

.form__name-card, .form__desc-card{
    margin-bottom: 10px;
}

.form__color-card{
    margin-bottom: 20px;
}

.form__buttons {
    display: flex;
    justify-content: center;
}
